/* --------------------------------

Primary style

-------------------------------- */


/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */

/** Ultra Light */
@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("../font/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("../font/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("../font/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url("../font/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("../font/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("../font/sanfranciscodisplay-bold-webfont.woff");
}


html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:active{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

html, body {
    width: 100%;
    height: 100%;
    background-color: #F6F8FA;
    overflow-x: hidden;
}

body {
    /*font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;*/
    font-family:"San Francisco";
    /*font-family: system, -apple-system, ".SFNSDisplay-Regular", HelveticaNeue, LucidaGrande;*/
    color: #2d313f;
    font-size: 14px;
    background-size: 32px 32px;
    line-height: 1.5em;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #2d313f;
}

strong{
    font-weight: 600;
}

.page-main {
    height: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.site-logo{
    background: url(../img/logo_full.svg) center no-repeat;
    background-size: 54px 59px;
    width: 54px;
    height: 59px;
    position: absolute;
    left: 30px;
    top: 20px;
}
.page-starter{
    background: #fff url(../img/top.png) center top repeat-x;
    background-size: 1024px 7px;
    padding: 80px 0 20px;
    height: 100%;
}
.page-starter .page-header{
    text-align: center
}
.page-starter .page-header .title{
    /* width: 758px; */
    /* background:url(../img/logo_big.png) left center no-repeat; */
    /* background-size: 65px 52px; */
    /* padding-left: 78px; */
    /* text-align: left; */
    margin: 0 auto 40px;
}
.page-starter h2 {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 400;
    /* text-transform: uppercase; */
}
.page-starter h3{
    font-size: 18px;
    /* margin-bottom: 40px; */
    color: #A5ADB8;
    /* text-transform: capitalize; */
}
.page-starter .intro{
    padding: 0 20px 0;
    position: relative;
    /* margin-bottom: 40px; */
}
.page-starter .intro-item{
    display: inline-block;
    width: 30%;
    padding: 10px 22px 30px;
    vertical-align: top;
    background-color: #F6F8FA;
    border-radius: 2px;
    margin: 0 1.5%;
    height: 410px;
    margin-bottom: 50px;
    /* border: .5px solid #E1E4E7; */
}
.page-starter .intro h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 44px;
    /* border-bottom: 1px solid rgba(198,204,212,0.5); */
    display: block;
    padding: 0 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.page-starter .intro-item li{
    margin-bottom: 20px;
    position: relative;
}
.page-starter .intro-item .circle{
    float: left;
    width: 18px;
    position: absolute;
    top: 0;
    left: 0;
}
.page-starter .intro-item .item-cnt{
    padding-left: 16px;
    display: block;
    font-size: 16px;
    /* line-height: 1.4em; */
}
.page-starter .btn-field{
    height: 50px;
    /* position: relative; */
    /* right: 2%; */
}
.page-starter .btn-next{
    display: block;
    border-radius: 30px;
    height: 56px;
    background-color: #1cb2d5;
    color: #fff;
    text-decoration: none;
    line-height: 56px;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 18px;
    font-weight: 700;
    float: right;
    margin-right: 2%;
    padding: 0 38px 0 50px;
    /* box-shadow: 0 1px 4px rgba(0,0,0,0.2); */
}
.page-starter .caution{
    color: #A5ADB8;
    margin: 0 2%;
    text-align: right;
    padding-top: 66px;
    /* display: none; */
}

.header{
    width: 100%;
    height: 90px;
    padding: 18px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    background-size: 1024px 5px;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
}
.header-bar{
    width: 100%;
    text-align: center;
}
.header-bar .left{
    position: absolute;
    top: 20px;
    left: 5px;
}
.header-bar .left a{
    height: 54px;
    line-height: 54px;
    font-size: 16px;
    display: inline-block;
    padding: 0 10px;
}
.header-bar .right{
    position: absolute;
    right: 5px;
    top: 20px;
}
.header-bar .right a{
    height: 54px;
    line-height: 54px;
    font-size: 16px;
    display: inline-block;
    padding:0 5px 0 10px;
    cursor: default;
    /* background-color: #F6F8FA; */
}
.header-bar .right .print{
    padding-right: 17px;
}
.header-bar .bar-control .disabled{
    color: #C6CCD4;
    cursor: default;
}
.header-bar .disabled .icon{
    color: #C6CCD4;
}
.header-bar .menu{
    margin: 0 auto;
    height: 54px;
}
.header-bar .menu li{
    display: inline-block;
    padding: 0 3px;
    vertical-align: middle;
}
.header-bar .menu .separate{
    border-left: 1px solid #C6CCD4;
    padding: 0;
    margin: 0 10px;
}
.header-bar .menu .item{
    background-color: #F6F8FA;
    width: 100px;
    height: 54px;
    border-radius: 2px;
    padding: 0 12px;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.2em;
    font-weight: 600;
}
.header-bar .menu .item-sleep{
    color: #4A8CDB;
}
.header-bar .menu .item-weight{
    color: #7277D6;
}
.header-bar .menu .item-stop{
    color: #E8663E;
}
.header-bar .menu .item-sex{
    color: #D84C43;
}
.header-bar .menu .item-cost{
    color: #3ABDAF;
}
.header-bar .menu .item-mind{
    color: #B377D8;
}
.header-bar .separate{
    border-left: 1px solid #C6CCD4;
    height: 40px;
    /* line-height: 30px; */
}
.header-bar .menu .item.active{
    color: #fff;
    /* font-weight: bold; */
}
.header-bar .menu .item-sleep.active{
    background-color: #4A8CDB;
}
.header-bar .menu .item-weight.active{
    background-color: #7277D6;
}
.header-bar .menu .item-stop.active{
    background-color: #E8663E;
}
.header-bar .menu .item-sex.active{
    background-color: #D84C43;
}
.header-bar .menu .item-cost.active{
    background-color: #3ABDAF;
}
.header-bar .menu .item-mind.active{
    background-color: #B377D8;
}

/*Content*/
.content{
    background-color: #F6F8FA;
    padding-top: 94px;
    position: relative;
}
.content .empty{
    text-align: center;
}
.content .empty p{
    font-size: 24px;
    padding-top: 200px;
}
.content .medicine{
    position: absolute;
    top: 180px;
    left: 45px;
    width: 160px;
    z-index: 1;
}
.content .medicine .medicine-group-name{
    position: absolute;
    left: -30px;
    transform: rotate(-90deg);
    top: 20px;
    color: #A5ADB8;
}
.content .medicine-group{
    line-height: 1.2em;
    float: left;
    width: 160px;
    height: 264px;
    position: relative;
    /* margin-bottom: 5px; */
}
.content .medicine-group .group-bracket{
    height: 100%;
    width: 20px;
    border: 1px solid #C6CCD4;
    border-right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;

}
.content .medicine-group-6{
    
}
.content .medicine-group-3{
    height: 132px;
}
.content .medicine-group-2{
    height: 88px;
}
.content .medicine-group-1{
    height: 64px;
}
.content .medicine-group .medicne-group-name{
    position: absolute;
}
.content .medicine-group ul{
    width: 140px;
    text-align: right;
    top: 0;
    position: absolute;
    right: 0;
}
.content .medicine-group ul li{
    padding: 4px 0;
}
.content .medicine-group .medicine-name{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.content .medicine-group .medicine-brand{
    color: #A5ADB8;
    font-size: 12px;
    line-height: 16px;
}

.card-container{
    margin-left: 250px;
    position: relative;
    overflow-x: hidden;
}
.card{
    background-color: #fff;
    display: inline-block;
    width: 227px;
    border-radius: 2px;
/*     border-top: 5px solid #4A8CDB; */
/*     padding: 13px 20px; */
    margin-right: 20px;
    position: relative;
    height: 100%;
    text-align: center;
}
.card .card-header{
    height: 38px;
    line-height: 38px;
    background-color: #4A8CDB;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: left;
    padding: 0 20px;
}
.card .card-header h4{
    font-weight: 600;
}
.card-mind .card-header{
    border-radius: 0;
    background-color: #B377D8;
}
.card .card-legend{
    padding: 8px 20px 0;
    color: #A5ADB8;
}
.card .card-ruler{
/*     margin-bottom: 16px; */
}
.card-mind .card-ruler{
    text-align: left;
    height: 39px;
    line-height: 34px;
}
.card-cost .card-ruler{
    width: 110px;
}
.card-stop .other-ruler{
    float: right;
    width: 60px;
    text-align: right;
    line-height: 1.3em;
}
.card-stop .card-ruler{
    width: 110px;
}
.card .card-ruler .ruler-word{
    margin-bottom: 5px;
    line-height: 20px;
}
.card .card-ruler .left{
    text-align: left;
}
.card .card-ruler .right{
    float: right;
    text-align: right;
}
.card .card-ruler .ruler{
    border-top: 1px solid #A5ADB8;
}
.card .card-ruler span{
    border-left: 1px solid #a5adb8;
    padding-right: 16px;
    position: relative;
    left: 8px;
    height: 4px;
    float: left;
}
.card .card-ruler .center{
    height: 15px;
    border-color: #E1E4E7;
}
.card .card-content{
    position: relative;
    background: url(../img/line.png) center top no-repeat;
    background-size: 1px;
    padding: 0 20px 20px;
}
.card-cost .card-content{
    background-position: 28px top;
}
.card-stop .card-content{
    background-position: 28px top;
}
.card-stop .frown{
    float: right;
    font-size: 19px;
    color: #F77E51;
}
.card-stop .frown-high{
    color: #CC3A30;
}
.card .line{
    border-left: 1px solid #a5adb8;
    width: 1px;
    height: 100%;
    margin: 0 auto;
}
.card .row{
    clear: left;
    line-height: 17px;
    height: 44px;
    padding: 13px 0 14px;
}
.card .row-2{
    height: 64px;
    padding: 22px 0 23px;
}
.card .row span{
    float: left;
    width: 17px;
    height: 17px;
    background-color: #f0f2f4;
    border-radius: 50%;
}
.card-cost .row .price{
    float: right;
    font-size: 13px;
    color: #A5ADB8;
}

.card-sleep .card-header{
    background-color: #4A8CDB;
}
.card-sleep .row .center.active{
    background-color: #5c9eed;
}
.card-sleep .row .first.active,
.card-sleep .row .n-first.active {
    background-color: #4d8bd8;
}
.card-sleep .row .second.active,
.card-sleep .row .n-second.active{
    background-color: #3e73ba;
}
.card-sleep .row .third.active,
.card-sleep .row .n-third.active{
    background-color: #2f5a9a;
}
.card-sleep .row .fourth.active,
.card-sleep .row .n-fourth.active{
    background-color: #22437b;
}
.card-sleep .row .fifth.active,
.card-sleep .row .n-fifth.active{
    background-color: #193466;
}

.card-weight .card-header{
    background-color: #7277D6;
}
.card-weight .row .center.active{
    background-color: #9398ec;
}
.card-weight .row .first.active,
.card-weight .row .n-first.active {
    background-color: #8687d8;
}
.card-weight .row .second.active,
.card-weight .row .n-second.active{
    background-color: #6d6db9;
}
.card-weight .row .third.active,
.card-weight .row .n-third.active{
    background-color: #515298;
}
.card-weight .row .fourth.active,
.card-weight .row .n-fourth.active{
    background-color: #37397a;
}
.card-weight .row .fifth.active,
.card-weight .row .n-fifth.active{
    background-color: #262966;
}

.card-sex .card-header{
    background-color: #D84C43;
}
.card-sex .row .center.active{
    background-color: #ed6055;
}
.card-sex .row .first.active,
.card-sex .row .n-first.active {
    background-color: #e84c42;
}
.card-sex .row .second.active,
.card-sex .row .n-second.active{
    background-color: #cd3b31;
}
.card-sex .row .third.active,
.card-sex .row .n-third.active{
    background-color: #ac2c23;
}
.card-sex .row .fourth.active,
.card-sex .row .n-fourth.active{
    background-color: #ac2c23;
}

.card-cost .card-header{
    background-color: #3ABDAF;
}
.card-cost .row .center.active{
    background-color: #48cec1;
}
.card-cost .row .first.active,
.card-cost .row .n-first.active {
    background-color: #3abca8;
}
.card-cost .row .second.active,
.card-cost .row .n-second.active{
    background-color: #2f9d8b;
}
.card-cost .row .third.active,
.card-cost .row .n-third.active{
    background-color: #267c6f;
}
.card-cost .row .fourth.active,
.card-cost .row .n-fourth.active{
    background-color: #20675c;
}

.card-stop .card-header{
    background-color: #E7653E;
}
.card-stop .row .center.active{
    background-color: #f87e51;
}
.card-stop .row .first.active,
.card-stop .row .n-first.active {
    background-color: #ec6d45;
}
.card-stop .row .second.active,
.card-stop .row .n-second.active{
    background-color: #da5932;
}
.card-stop .row .third.active,
.card-stop .row .n-third.active{
    background-color: #c8471f;
}
.card-stop .row .fourth.active,
.card-stop .row .n-fourth.active{
    background-color: #bc3b13;
}

.card-mind{
    position: absolute;
    right: -270px;
    top: 94px;
    border-top: none;
    margin-right: 0;
    border-top-right-radius: 0;
    padding: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    height: auto;
    width: 270px;
    transform: translate3d(0, 0, 0);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
}
.card-mind .control-fold{
    width: 50px;
    height: 70px;
    position: absolute;
    left: -50px;
    top: 0;
    display: block;
}
.card-mind .control-fold-cnt{
    width: 32px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(179, 119, 216);
    color: #fff;
    display: block;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.card-mind.active .control-fold-cnt{
    background-color: #c596e1;
}
.card-mind .control-fold .icon-arrow{
    position: absolute;
    line-height: 46px;
    left: 5px;
    color: #fff;
}
.card-mind .control-fold .arrow-aside{
    left: 10px;
}
.card-mind .control-fold .control-show{
    display: block;
}
.card-mind .control-fold .control-hidden{
    display: none;
}
.card-mind .control-fold.active .control-hidden{
    display: block;
}
.card-mind .control-fold.active .control-show{
    display: none;
}
.card-mind.active{
    transition-duration: 0.3s;
    transform: translate3d(-270px, 0, 0);
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.card-mind .card-content{
    background: none;
    /* padding: 0 20px; */
}
.card-mind .row{
    padding: 6px 0px 2px;
    overflow: hidden;
}
.card-mind p{
    font-size: 13px;
    text-align: left;
    line-height: 18px;
}

/* Zebra */
.zebra{position: absolute;top: 180px;width: 100%;left: 0;}
.zebra div{
    height: 44px;
}
.zebra .odd{
    background-color: #f0f2f4;
}
.zebra .even{}
.zebra .row-2{
    height: 64px;
}
.zebra .active{/*     background-color: rgba(246,235,96,0.6)!important; */background-color: rgba(255,205,105,0.5);opacity: 0.3;}
.zebra .odd.active{
/*     background-color: rgba(246,235,96,1)!important; */
background-color: #ffcd69!important;
}
.card .zebra .odd{
    background-color: #F6F8FA;
}
.card .zebra{
    top: 86px;
}
.zebra-control{position: absolute;top: 86px;width: 100%;left: 0;z-index: 99;/* display: none; */}
.zebra-control div{
    /* height: 44px; */
}
.zebra-control .row-2{
    height: 64px;
}

/* Summary */
.summary{
    background-color: #F6F8FA;
    padding-top: 106px;
    position: relative;
}
.summary-container{
    padding: 15px 15px;
}
.summary table td{
    width: 16.7%;
    padding: 0 5px;
    table-layout: fixed;
}
.summary .medicine{

}
.summary .medicine-name{
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
}
.summary .medicine-brand{
    color: #A5ADB8;
    font-size: 13px;
    line-height: 40px;
}
.summary .checkbox{
    color: #A5ADB8;
    font-size: 20px;
    float: left;
    width: 30px;
    line-height: 40px;
    margin-left: -5px;
}
.summary .checkbox.active{
    color: #3BB75D;
}
.summary .scard{
    width: 100%;
    height: 170px;
    overflow-x: hidden;
    margin: 0 0 20px;
    background-color: #fff;
    border-radius: 3px;
    /* text-align: center; */
    color: #A5ADB8;
}
.summary .scard.active{
    color: #2d313f;
}

.summary .scard-header{
    height: 33px;
    line-height: 33px;
    background-color: #f0f2f4;
    padding: 0 13px;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 600;
}
.summary .scard-sleep .scard-header{
    color: #4A8CDB;
}
.summary .scard-weight .scard-header{
    color: #7277D6;
}
.summary .scard-stop .scard-header{
    color: #E8663E;
}
.summary .scard-sex .scard-header{
    color: #D84C43;
}
.summary .scard-cost .scard-header{
    color: #3ABDAF;
}
.summary .scard-mind .scard-header{
    color: #B377D8;
}

.summary .active .scard-header{
    color: #fff;
    font-weight: 600;
}
.summary .scard-sleep.active .scard-header{
    background-color: #4A8CDB;
}
.summary .scard-weight.active .scard-header{
    background-color: #7277D6;
}
.summary .scard-stop.active .scard-header{
    background-color: #E8663E;
}
.summary .scard-sex.active .scard-header{
    background-color: #D84C43;
}
.summary .scard-cost.active .scard-header{
    background-color: #3ABDAF;
}
.summary .scard-mind.active .scard-header{
    background-color: #B377D8;
}


.summary .scard-cnt{
    padding: 13px 13px 10px;
    overflow-y: auto;
}
.summary .scard-cnt p{
    line-height: 1.4em;
}
.summary .scard-mind .scard-cnt{
    font-size: 13px;
}

/*@media print{@page {size: landscape}}